.DS_Store
*.swp
*.xcuserstate
*.xcworkspace
*.xcuserdatada
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcodeproj
*.xcworkspace
*.idea
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcodeproj/*
myDay.xcodeprof
*.vscode
